{% extends base_template_path %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container pb-1">
        <div class="row justify-content-center mt-0 mt-md-3 mb-2">
            <div class="col-sm-12 col-md-8">
                <div class="card rounded-2">
                    <h4 class="card-header text-center">{% trans "Sign out" %}</h4>
                    <div class="card-body">
                        <p>{% trans 'Are you sure you want to sign out?' %}</p>
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden"
                                       name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <hr>
                            <button class="btn btn-block btn-lg btn-primary" type="submit">
                                {% trans 'Sign Out' %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
