{% extends base_template_path %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container pb-1">
        <div class="row justify-content-center mt-0 mt-md-3 mb-2">
            <div class="col-sm-12 col-md-8">
                {% if token_fail %}
                    <div class="alert alert-danger" role="alert">
                        {% trans "Bad Token" %}
                    </div>
                {% else %}
                    {% if form %}
                        <div class="card rounded-2">
                            <h4 class="card-header text-center">{% trans "Change Password" %}</h4>
                            <div class="card-body">
                                {% crispy form %}

                                {% if form.password1.errors or form.password2.errors %}
                                    <div class="alert alert-danger mt-2">
                                        <ul class="mb-0">
                                            {% for error in form.password1.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                            {% for error in form.password2.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="card rounded-2">
                            <div class="card-body">
                                <p class="lead">{% trans 'Your password is now changed.' %}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
