{% extends base_template_path %}

{% load i18n %}

{% block content %}
    <div class="container pb-1">
        <div class="row justify-content-center mt-0 mt-md-3 mb-2">
            <div class="col-sm-12 col-md-8">
                {% if user.is_authenticated %}
                    <div class="alert alert-info" role="alert">
                        {% include "./snippets/already_logged_in.html" %}
                    </div>
                {% endif %}
                <div class="card rounded-2">
                    <h4 class="card-header text-center">{% trans "Password Reset" %}</h4>
                    <div class="card-body">
                        <p>{% trans "We have sent you an e-mail for password reset." %}</p>
                        <p>{% trans "Please contact us if you do not receive it within a few minutes." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}