{% extends base_template_path %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container pb-1">
        <div class="row justify-content-center mt-0 mt-md-3 mb-2">
            <div class="col-sm-12 col-md-8">
                {% if user.is_authenticated %}
                    <div class="alert alert-info" role="alert">
                        {% include "./snippets/already_logged_in.html" %}
                    </div>
                {% endif %}
                <div class="card rounded-2">
                    <h4 class="card-header text-center">{% trans "Forgotten your password?" %}</h4>
                    <div class="card-body">
                        <ul class="pl-4 py-0 alert alert-info">
                            <li class="my-2">1년 이상 미접속 고객님은 비밀번호 찾기가 아니라
                                <a href="{% url 'account_signup' %}" class="font-weight-bold">회원가입</a>하시기 바랍니다.
                            </li>
                            <li class="my-2">[정보통신망법]에 따라 1년 이상 미접속 계정 정보는 모두 파기합니다.</li>
                        </ul>
                        <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                        {% if form.email.errors or form.non_field_errors %}
                            <ul class="py-0 alert alert-danger">
                                {% for error in form.email.errors %}
                                    <li class="my-1">{{ error }}</li>
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li class="my-1">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}