{% extends base_template_path %}

{% load i18n %}

{% block content %}
    <div class="container pb-1">
        <div class="row justify-content-center mt-0 mt-md-3 mb-2">
            <div class="col-sm-12 col-md-8">
                <div class="card rounded-2">
                    <h4 class="card-header text-center">{% trans "Change Password" %}</h4>
                    <div class="card-body">
                        <p>{% trans 'Your password is now changed.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}