.adslot_narrow {
    width: 320px;
    height: 100px;
}

@media (min-width: 768px) {
    .adslot_narrow {
        width: 468px;
        height: 60px;
    }
}

.adslot_wide {
    width: 320px;
    height: 100px;
}

@media (min-width: 768px) {
    .adslot_wide {
        width: 728px;
        height: 90px;
    }
}