
$blue: #024769;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #c9341c;
$orange: #ed8a3f;
$yellow: #f5d769;
$green: #64a45c;
$teal: #51be95;
$cyan:  #009cde;
$primary: $blue;
$gray-600: #828277;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$gray-800: #343a40;
$dark: $gray-800;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #ecf0f1;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #b4bcc2;
$gray-700: #7b8a8b;
$gray-900: #212529;
$black: #000;
$link-color: #024769;
$link-decoration: #05392f;
$link-hover-decoration: none;
$font-family-sans-serif: AppleSDGothicNeo, "Malgun Gothic", dotum, sans-serif;;
$font-size-base: 0.9375rem;
$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2rem;
$table-accent-bg: $gray-200;
$input-color: $dark;
$dropdown-padding-y: 0rem;
$dropdown-link-color: $gray-700;
$dropdown-link-hover-color: #003366;
$dropdown-link-hover-bg: #f5d769;
$dropdown-item-padding-y: 0.5rem;
$nav-link-padding-y: .5rem;
$nav-link-padding-x: 2rem;
$nav-link-disabled-color: $gray-600;
$nav-tabs-border-color: $gray-200;
$nav-tabs-link-active-color: rgb(202, 61, 16);
$navbar-padding-y: 1rem;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $success;
$navbar-light-color: rgb(2, 22, 61);
$pagination-color: $white;
$pagination-bg: $success;
$pagination-border-width: 0;
$pagination-border-color: transparent;
$pagination-hover-color: $white;
$pagination-hover-bg: darken($success, 15%);
$pagination-hover-border-color: transparent;
$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: transparent;
$pagination-disabled-color: $gray-200;
$pagination-disabled-bg: $gray-600;
$pagination-disabled-border-color: transparent;
$progress-height: 10px;
$progress-font-size: 10px;
$list-group-hover-bg: $gray-200;
$list-group-disabled-bg: $gray-200;
$close-color: $white;
$close-text-shadow: none;