{% load i18n %}
<hr>
<h5>본 메일은 발신 전용으로 회신되지 않습니다.</h5>
<p>
    궁금하신 사항은
    <a href="https://pincoin.co.kr{% url 'help:question-list' store_code %}">고객센터</a>로
    문의하시기 바랍니다.
</p>

<ul>
    <li style="padding-top: 0.5rem;">
        상호: <a href="https://pincoin.co.kr{% url 'shop:home' store_code %}">핀코인</a> (pincoin.co.kr)
    </li>
    <li style="padding-top: 0.5rem;">
        대표: 서종화
    </li>
    <li style="padding-top: 0.5rem;">
        사업자등록번호: 163-81-01158
    </li>
    <li style="padding-top: 0.5rem;">
        통신판매업신고: 2019-서울서초-0835
    </li>
</ul>