{% load i18n %}
{% load shop_filters %}
<h4>{% trans "Order Shipped" %}</h4>
<hr>
<ul>
    <li style="padding-top: 0.5rem;">
        {% trans "order no" %}:
        <a href="https://pincoin.co.kr{% url 'shop:order-detail' store_code order.order_no %}">
            {{ order.order_no }}
        </a>
    </li>
    <li style="padding-top: 0.5rem;">
        {% trans "Order Date/Time" %}: {{ order.created|date:"Y-m-d H:i" }}
    </li>
    <li style="padding-top: 0.5rem;">
        {% trans "payment method" %}: {{ order.get_payment_method_display }}
    </li>
</ul>
<hr>
<table>
    <tr>
        <th style="padding: 0.5rem;">{% trans "product name" %}</th>
        <th style="padding: 0.5rem;">{% trans "quantity" %}</th>
        <th style="padding: 0.5rem;">{% trans "unit price" %}</th>
        <th style="padding: 0.5rem;">{% trans "subtotal" %}</th>
    </tr>
    {% for product in order.products.all %}
        <tr>
            <td style="padding: 0.5rem;">{{ product.name }} {{ product.subtitle }}</td>
            <td style="padding: 0.5rem; text-align: right;">{{ product.quantity }}</td>
            <td style="padding: 0.5rem; text-align: right;">{{ product.selling_price|currency:order.currency }}</td>
            <td style="padding: 0.5rem; text-align: right;">{{ product.subtotal|currency:order.currency }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="4" style="padding: 0.5rem; text-align: right;">
            <strong>{% trans "total price" %}: {{ order.total_selling_price|currency:order.currency }}</strong>
        </td>
    </tr>
</table>

<p>
    상품권이 발권되었습니다.

    상품권 번호를 확인하려면
    <a href="https://pincoin.co.kr/{% url 'shop:order-detail' store_code order.order_no %}">여기</a>를 클릭하세요.
</p>

{% include './_footer.html' with store_code=store_code %}