{% extends "./base.html" %}

{% load i18n %}
{% load l10n %}
{% load static %}
{% load shop_tags %}
{% load shop_filters %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static "js/card/refund.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-0 mt-md-3">
            <div class="col">
                <div class="card rounded-2">
                    <div class="card-header text-center">
                        <h4>{% trans "Refund Order Details" %}</h4>
                        <small>
                            {% trans "order no" %}:
                            <span class="text-monospace">
                                {{ order.order_no }}
                            </span>
                        </small>
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">
                            <ul class="col-sm-12 col-md-6 list-unstyled mb-0">
                                <li class="row mb-2">
                                    <div class="col-md-5 d-none d-md-block text-right pt-1 mb-2">
                                        <span class="text-muted">{% trans "order status" %}</span>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        {% if order.status == order.STATUS_CHOICES.payment_pending %}
                                            <span class="btn btn-sm btn-outline-dark mb-1 mt-0">
                                        {% elif order.status == order.STATUS_CHOICES.payment_completed or order.status == order.STATUS_CHOICES.under_review %}
                                            <span class="btn btn-sm btn-outline-info mb-1 mt-0">
                                        {% elif order.status == order.STATUS_CHOICES.payment_verified or order.status == order.STATUS_CHOICES.shipped %}
                                            <span class="btn btn-sm btn-outline-success mb-1 mt-0">
                                        {% else %}
                                            <span class="btn btn-sm btn-outline-danger mb-1 mt-0">
                                        {% endif %}
                                        {{ order.get_status_display }}
                                        </span>
                                    </div>
                                </li>
                                <li class="row mb-2">
                                    <div class="col-md-5 d-none d-md-block text-right">
                                        <span class="text-muted">{% trans "payment method" %}</span>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        {{ order.get_payment_method_display }}
                                    </div>
                                </li>
                                <li class="row mb-2">
                                    <div class="col-md-5 d-none d-md-block text-right">
                                        <span class="text-muted">{% trans "Order Date/Time" %}</span>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        {{ order.created|date:"Y-m-d H:i" }}
                                    </div>
                                </li>
                            </ul>
                            <ul class="col-sm-12 col-md-6 list-unstyled mb-0">
                                <li class="row mb-2">
                                    <div class="col-6 col-md-4">
                                        <span class="text-muted">{% trans "product name" %}</span>
                                    </div>
                                    <div class="col-3 col-md-2 text-md-right">
                                        <span class="text-muted">{% trans "quantity" %}</span>
                                    </div>
                                    <div class="col-3 col-md-3 text-right">
                                        <span class="text-muted">{% trans "unit price" %}</span>
                                    </div>
                                    <div class="d-none d-md-block col-md-3 text-right">
                                        <span class="text-muted">{% trans "subtotal" %}</span>
                                    </div>
                                </li>
                                {% for product in order.products.all %}
                                    <li class="row mb-3">
                                        <div class="col-5 col-md-4">
                                            {{ product.name }}
                                        </div>
                                        <div class="col-2 col-md-2 text-right">
                                            {{ product.quantity }}
                                        </div>
                                        <div class="col-5 col-md-3 text-right">
                                            {{ product.selling_price|currency:order.currency }}
                                        </div>
                                        <div class="d-none d-md-block col-md-3 text-right">
                                            {{ product.subtotal|currency:order.currency }}
                                        </div>
                                    </li>
                                {% endfor %}
                                <li class="row mb-2">
                                    <div class="offset-3 col-4 offset-md-7 col-md-2 text-right">
                                        {% trans "total price" %}
                                    </div>
                                    <div class="col-5 col-md-3 text-right">
                                        <strong>{{ order.total_selling_price|currency:order.currency }}</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card rounded-2 mt-4">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col">
                                <ul class="pl-2 detail-notice">
                                    <li>
                                        <strong class="text-success">환불 요청 가능 기간</strong>
                                        <p class="mt-2">
                                            고객님께서 상품권을 받으신 경우
                                            <span class="text-danger">3일 이내</span>에만 교환 또는 환불 요청 가능합니다.
                                        </p>
                                    </li>
                                    <li>
                                        <strong class="text-success">환불 처리 소요 기간</strong>
                                        <p class="mt-2">
                                            상품권을 받기 전이라도 고객님의 교환/환불 요청이 있은 날로부터
                                            <span class="text-danger">은행 영업일 기준으로 3~4일 이내에</span>에 처리됩니다.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <form method="post">
                    {% csrf_token %}
                    {% if voucher_required %}
                        <div class="card rounded-2 mt-4">
                            <div class="card-header text-center">
                                <h5>{% trans "Voucher Code List" %}</h5>
                            </div>
                            <div class="card-body pb-0">
                                {% if form.vouchers.errors %}
                                    <p class="alert alert-danger">
                                        교환/환불 받기 위해 취소할 상품권을 선택하세요.
                                    </p>
                                {% endif %}
                                <div class="row">
                                    <ul class="col list-unstyled mb-0">
                                        <li class="row p-2">
                                            <div class="col-12 col-md-3 form-check">
                                                <label class="form-check-label text-muted">
                                                    <input class="form-check-input" id="voucher-all" type="checkbox">
                                                    상품권
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-5 d-none d-md-block">
                                                <span class="text-muted">상품권 코드</span>
                                            </div>
                                        </li>
                                        {% for product in order.products.all %}
                                            {% for voucher in product.codes.all %}
                                                <li class="row py-3 px-2 border-top">
                                                    <div class="col-12 col-md-3 form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input"
                                                                   type="checkbox"
                                                                   name="vouchers"
                                                                   value="{{ product.id|unlocalize }}_{{ voucher.id|unlocalize }}"
                                                                   data-price="{{ product.selling_price }}">
                                                            <small>
                                                                [{{ forloop.parentloop.counter }}-{{ forloop.counter }}]
                                                            </small>
                                                            {{ product.name }}
                                                            {{ product.subtitle }}
                                                        </label>
                                                    </div>
                                                    <div class="col-12 col-md-5">
                                                        <span class="text-monospace">
                                                            {{ voucher.code }}
                                                            {{ voucher.remarks }}
                                                        </span>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-warning mt-4">
                            환불 예정 금액: ₩ <span id="refund-total">0</span>
                        </div>
                    {% endif %}
                    {% if message_required %}
                        <div class="form-group mt-4">
                            <label for="comment">{% trans "Refund message" %}</label>
                            {% if form.message.errors %}
                                <p class="alert alert-danger">
                                    {{ form.message.help_text }}
                                </p>
                            {% endif %}
                            <textarea class="form-control" rows="3" placeholder="{{ form.message.help_text }}"
                                      name="{{ form.message.name }}" id="{{ form.message.id_for_label }}"></textarea>
                        </div>
                    {% endif %}
                    <hr>
                    <button type="submit" class="btn btn-block btn-lg btn-danger mb-4">
                        <i class="fas fa-calculator"></i>
                        {% trans "Refund Payment" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
