<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang=""><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    {% load static %}
    {% load i18n %}
    {% load rakmai_tags %}
    {% load shop_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page_title }} : {% trans "PINCOIN" %}</title>
    {% if page_meta_description %}
        <meta name="description" content="{{ page_meta_description }}">
    {% else %}
        <meta name="description" content="핀코인 개발 문서">
    {% endif %}
    {% if page_meta_keywords %}
        <meta name="keywords" content="{{ page_meta_keywords }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#87b842">

    <!-- Open Graph protocol for facebook -->
    <meta property="fb:app_id" content="1792440434111823"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{% trans "PINCOIN" %}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:description" content="{{ page_title }}"/>
    {% if og_image %}
        <meta property="og:image" content="http://www.pincoin.co.kr{{ og_image }}"/>
        <meta property="og:image:width" content="468"/>
        <meta property="og:image:height" content="300"/>
    {% endif %}
    {% block stylesheet %}
        <link rel="stylesheet" href="{% static "css/webfonts/nanum-gothic.css" %}">
        <link rel="stylesheet" href="{% static "css/shop/bootstrap.min.css" %}">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/book/main.css" %}">
        <link rel="shortcut icon" href="{% static 'images/shop/default/favicon.png' %}">
    {% endblock %}
    {{ form.media.css }}
    {% google_analytics '1' %}
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">
You are using an <strong>outdated</strong> browser.
Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</p>
<![endif]-->
{% get_category_roots 'default' as cached_roots %}
<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top py-1">
    <div class="gray-layer"></div>
    <div class="container">
        <a class="navbar-brand d-none d-sm-none d-md-block" href="{% url 'book:book-list' %}">
            <img src="{% static 'images/shop/default/pincoin_www_260x50.png' %}" alt="핀코인 기술문서" title="핀코인 기술문서">
        </a>
        <a class="navbar-brand d-block d-sm-block d-md-none" href="{% url 'book:book-list' %}">
            <img src="{% static 'images/shop/default/pincoin_www_98x30.png' %}" alt="핀코인 기술문서" title="핀코인 기술문서">
        </a>

        <button id="navbar-toggle-button" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarsTop"
                aria-controls="navbarsTop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse no-transition" id="navbarsTop">
            <form action="#" method="get" class="form my-1 d-block d-md-none">
                <div class="input-group">
                    {{ search_form.q }}
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <ul class="navbar-nav mr-auto mb-2 d-block d-md-none">
                <a class="nav-link text-primary" href="{% url 'shop:home' 'default' %}">
                    <i class="fas fa-shopping-basket fa-fw"></i>
                    {% trans "PINCOIN" %} {% trans "To Shop" %}
                </a>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{% url 'rabop:home' 'default' %}">
                            <i class="fas fa-cogs fa-fw"></i>
                            <span class="sr-only">{% trans "Dashboard" %}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{% url 'book:book-my-list' %}">
                            <i class="fas fa-edit fa-fw"></i>
                            <span class="sr-only">{% trans "Edit" %}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="dropdown-divider my-0 border border-success d-block d-md-none"></li>
                <li class="nav-item d-none d-md-block">
                    <a class="nav-link" href="{% url 'shop:home' 'default' %}">
                        <i class="fas fa-shopping-basket fa-fw"></i>
                        {% trans "To Shop" %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-md rounded py-1 category-menu d-none d-md-block">
    <div class="container pb-0">
        <div class="collapse navbar-collapse" id="navbarsCategory">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'book:book-list' %}">
                        <i class="fas fa-home fa-fw"></i>
                        {% trans "To Home" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-info-circle fa-fw"></i>
                        {% trans "About" %}
                    </a>
                </li>
            </ul>
            <form action="#" method="get" class="form-inline">
                <div class="input-group">
                    {{ search_form.q }}
                    <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
                </div>
            </form>
        </div>
    </div>
</nav>
{% if messages %}
    <div class="d-none">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

{% block content %}body content{% endblock %}

<!-- Footer -->
<footer class="footer shop-footer">
    <div class="container mt-1">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 d-flex-inline d-flex order-1 order-md-2">
                <a href="//www.facebook.com/pincoin.co.kr" target="_blank" class="ml-2">
                    <i class="fab fa-facebook-square fa-2x sns-facebook-button1"></i>
                </a>
                <a href="//twitter.com/pincoins" target="_blank" class="ml-2">
                    <i class="fab fa-twitter-square fa-2x sns-twitter-button"></i>
                </a>
                <a href="//www.paypal.com/" target="_blank" class="ml-2">
                    <i class="fab fa-cc-paypal fa-2x sns-paypal-button"></i>
                </a>
                <a href="http://escrow1.kbstar.com/quics?page=B009111&cc=b010807%3Ab008491&mHValue=3fe2e060295de57522bb0393f87521cf201903122224238"
                   target="_blank" class="mx-2">
                    <img class="sns-kb-button" src="{% static 'images/shop/sns/kb.png' %}"
                         alt="KB에스크로" title="KB에스크로">
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-10 d-flex flex-row flex-wrap order-2 order-md-1">
                <div class="pt-1 px-2">
                    <a href="{% url 'help:guide' 'default' %}">
                        {% trans "User Guide" %}
                    </a>
                </div>
                <div class="pt-1 px-2">
                    <a href="{% url 'help:faq-list' 'default' %}">
                        {% trans "Frequently Asked Questions" %}
                    </a>
                </div>
                <div class="pt-1 px-2">
                    <a href="{% url 'help:question-list' 'default' %}">
                        {% trans "Q&amp;A" %}
                    </a>
                </div>
                <div class="pt-1 px-2">
                    <a href="{% url 'site_terms' %}">
                        {% trans "Terms and Conditions" %}
                    </a>
                </div>
                <div class="pt-1 px-2">
                    <a href="{% url 'site_privacy' %}">
                        {% trans "Privacy Policy" %}
                    </a>
                </div>
                <div class="pt-1 px-2">
                    <a href="{% url 'blog:post-list' 'www' %}">
                        {% trans "Blog" %}
                    </a>
                </div>
                <div class="pt-1 px-2">
                    <a href="{% url 'book:book-list' %}">
                        {% trans "TechNote" %}
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 class="ml-2 mt-2">
                    <a href="{% url 'shop:home' 'default' %}">주식회사 핀코인</a>
                </h5>
                <ul class="list-inline pl-2 mb-1">
                    <li class="list-inline-item">대표: 서종화</li>
                    <li class="list-inline-item">주소: 서울 서초구 강남대로 479, B1 피치트리 139호</li>
                    <li class="list-inline-item">사업자등록번호:
                        <a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=1638101158" target="_blank">
                            163-81-01158
                        </a>
                    </li>
                    <li class="list-inline-item">통신판매업신고: 2019-서울서초-0835</li>
                    <li class="list-inline-item"><i class="far fa-envelope"></i> help@pincoin.co.kr</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid base-footer">
        <div class="container">
            <div class="row py-3">
                <div class="col-12 col-md-6 text-center text-md-right text-light">
                    Copyright &copy; 2012-{% now "Y" %} pincoin.co.kr
                </div>
                <div class="col-12 col-md-6 text-center text-md-left text-light">
                    All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static "js/book/main.js" %}"></script>
{% block javascript %}{% endblock %}
{{ form.media.js }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="{% static "js/rakmai/adsense.js" %}"></script>
</body>
</html>
