{% extends "shop/default/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load rakmai_filters %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/shop/adsense.css" %}">
{% endblock %}

{% block content %}
    <div class="container pb-1">
        <div class="row mt-2">
            <div class="col px-4 px-md-3">
                <div class="row mb-1 mb-md-3">
                    <div class="col">
                        <div class="card rounded-2">
                            <div class="card-header text-center">
                                <h4 class="mb-0">{{ page_title }}</h4>
                            </div>
                            <div class="card-body py-0">
                                {% for article in news %}
                                    {% if forloop.counter == 4 %}
                                        <div class="row py-2 border-top">
                                            <div class="col">
                                                <!-- 반응형1 -->
                                                <ins class="adsbygoogle adslot_wide"
                                                     style="display:block"
                                                     data-ad-client="ca-pub-6334863722125804"
                                                     data-ad-slot="6025802824"
                                                     data-ad-format="auto"
                                                     data-full-width-responsive="false"></ins>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row py-2{% if not forloop.first %} border-top{% endif %}">
                                        <div class="col-3">
                                            <a href="{{ article.link }}" target="_blank">
                                                <img src="{{ article.image_url }}" width="200" height="112">
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-9">
                                            <a href="{{ article.link }}" target="_blank">
                                                <h5>{{ article.title }}</h5>
                                            </a>
                                            <p>
                                                {{ article.description|strip_html|truncatechars:150 }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
