{% extends './base.html' %}

{% load static %}
{% load i18n %}
{% load l10n %}
{% load shop_filters %}

{% block javascript %}
    {{ block.super }}
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script>
        var payment = [
            "{% trans 'Bank Transfer' %}",
            "{% trans 'Escrow (KB)' %}",
            "{% trans 'PayPal' %}",
            "{% trans 'Credit Card' %}"
        ];
        $(function () {
            var myChart = Highcharts.chart('container', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{% trans "Daily Payments Report" %} (금액)'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: '{% trans "Payment Method" %}',
                    colorByPoint: true,
                    data: [
                        {% for p in payments %}
                            {
                                name: payment[{{ p.order__payment_method }}],
                                y: {{ p.order_total|unlocalize }}
                            },
                        {% endfor %}
                    ]
                }]
            });

            var myChart1 = Highcharts.chart('container1', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{% trans "Daily Payments Report" %} (횟수)'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: '{% trans "Payment Method" %}',
                    colorByPoint: true,
                    data: [
                        {% for p in payments %}
                            {
                                name: payment[{{ p.order__payment_method }}],
                                y: {{ p.count|unlocalize }}
                            },
                        {% endfor %}
                    ]
                }]
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div id="container" class="col-12 col-md-6 mb-1 mb-md-3"></div>
        <div id="container1" class="col-12 col-md-6 mb-1 mb-md-3"></div>
    </div>
    <div class="row pb-2 text-muted d-none d-md-flex">
        <div class="col-md-2">
            {% trans "No." %}
        </div>
        <div class="col-md-3">
            {% trans "Payment Method" %}
        </div>
        <div class="col-md-2">
            {% trans "Amount" %}
        </div>
        <div class="col-md-2">
            {% trans "Order Count" %}
        </div>
    </div>
    {% for payment in payments %}
        <div class="row py-1 border-top mb-1">
            <div class="col-1 col-sm-1 col-md-2">
                {{ forloop.counter }}
            </div>
            <div class="col-5 col-sm-5 col-md-3">
                {% if payment.order__payment_method == 0 %}
                    {% trans 'Bank Transfer' %}
                {% elif payment.order__payment_method == 1 %}
                    {% trans 'Escrow (KB)' %}
                {% elif payment.order__payment_method == 2 %}
                    {% trans 'PayPal' %}
                {% elif payment.order__payment_method == 3 %}
                    {% trans 'Credit Card' %}
                {% endif %}
            </div>
            <div class="col-6 col-sm-6 col-md-2">
                {{ payment.order_total|currency:'KRW' }}
            </div>
            <div class="col-6 col-sm-6 col-md-2">
                {{ payment.count }}
            </div>
        </div>
    {% empty %}
        <div class="row my-3">
            <div class="col text-center">
                {% trans "No Sales Report Yet" %}
            </div>
        </div>
    {% endfor %}
{% endblock %}