{% extends './base.html' %}

{% load i18n %}
{% load l10n %}
{% load shop_filters %}
{% load crispy_forms_tags %}
{% load help_tags %}

{% block content %}
    <div class="row mb-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row mb-1">
                        <div class="col">
                            {% if question.owner and question.owner.profile %}
                                <a href="{% url 'rabop:customer-detail' store.code question.owner.profile.id %}">
                                    {{ question.owner.profile.full_name }}
                                </a>
                                {% if question.owner.profile.phone_verified_status == question.owner.profile.PHONE_VERIFIED_STATUS_CHOICES.verified %}
                                    <i class="fas fa-check fa-fw text-success"></i>
                                {% elif question.owner.profile.phone_verified_status == question.owner.profile.PHONE_VERIFIED_STATUS_CHOICES.unverified %}
                                    <i class="fas fa-times fa-fw text-danger"></i>
                                {% elif question.owner.profile.phone_verified_status == question.owner.profile.PHONE_VERIFIED_STATUS_CHOICES.revoked %}
                                    <i class="fas fa-lock fa-fw text-warning"></i>
                                {% endif %}
                                {% if question.owner.profile.document_verified %}
                                    <i class="fas fa-check text-success"></i>
                                {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                                {% if question.owner.profile.phone %}
                                    {{ question.owner.profile.phone }}
                                {% endif %}
                            {% else %}
                                {% trans "unregistered" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mt-1">
                            {% if question.answers_count %}
                                <span class="btn btn-sm btn-secondary mr-1">{% trans "Answered" %}</span>
                            {% else %}
                                <span class="btn btn-sm btn-danger mr-1">{% trans "Unanswered" %}</span>
                            {% endif %}
                            <span class="btn btn-sm btn-outline-secondary mr-1">
                                {{ question.get_category_display }}
                            </span>
                            {% if question.order %}
                                <a href="{% url 'rabop:order-detail' store.code question.order.id %}"
                                   class="btn btn-sm mr-2 btn-outline-info">
                                    {% trans "Order #" %}
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 mt-2"><strong>{{ question.title }}</strong></div>
                        <div class="col-12 col-sm-12 col-md-2 mt-2 text-muted text-md-right"
                             data-toggle="tooltip" data-placement="top" title="{{ question.created }}">
                            {{ question.created|date:'Y.m.d' }}
                        </div>
                    </div>
                </div>
                <div class="card-body pb-0">
                    {{ question.content|linebreaks }}
                </div>
            </div>
        </div>
    </div>

    {% get_recent_orders question.owner.id 5 as orders %}

    <div class="row">
        <div class="col">
            <div class="card">
                {% for order in orders %}
                    <div class="row px-4">
                        <div class="col-4 col-sm-4 col-md-2 text-monospace pt-2 order-2 order-md-1">
                            <a href="{% url 'rabop:order-detail' store.code order.id %}?page={{ page_obj.number }}">
                                {{ order.order_no|truncatechars:9 }}
                            </a>
                        </div>
                        <div class="col-4 col-sm-4 col-md-2 pt-1 order-4 order-md-4">
                            <a href="{% url 'rabop:order-detail' store.code order.id %}?page={{ page_obj.number }}">
                                {% if order.status == order.STATUS_CHOICES.payment_pending %}
                                    <span class="btn btn-sm btn-outline-warning mb-1 mt-0">
                                {% elif order.status == order.STATUS_CHOICES.payment_completed or order.status == order.STATUS_CHOICES.under_review %}
                                    <span class="btn btn-sm btn-outline-info mb-1 mt-0">
                                {% elif order.status == order.STATUS_CHOICES.payment_verified or order.status == order.STATUS_CHOICES.shipped %}
                                    <span class="btn btn-sm btn-outline-success mb-1 mt-0">
                                {% else %}
                                    <span class="btn btn-sm btn-outline-danger mb-1 mt-0">
                                {% endif %}
                                {{ order.get_status_display }}
                                </span>
                            </a>
                        </div>
                        <div class="col-8 col-sm-8 col-md-2 pt-2 order-3 order-md-5">
                            {% if order.payment_method == order.PAYMENT_METHOD_CHOICES.bank_transfer %}
                                <span class="text-primary">
                            {% elif order.payment_method == order.PAYMENT_METHOD_CHOICES.escrow %}
                                <span class="kb-text">
                            {% elif order.payment_method == order.PAYMENT_METHOD_CHOICES.paypal %}
                                <span class="paypal-text"><i class="fab fa-cc-paypal fa-fw"></i>
                            {% elif order.payment_method == order.PAYMENT_METHOD_CHOICES.credit_card %}
                                <span class="danal-text"><i class="far fa-credit-card fa-fw"></i>
                            {% endif %}
                            {{ order.get_payment_method_display }}
                            </span>
                        </div>
                        <div class="col-4 col-sm-4 col-md-2 text-md-right text-monospace pt-2 order-6 order-md-2">
                            {{ order.total_selling_price|currency:order.currency }}
                        </div>
                        <div class="col-8 col-sm-8 col-md-2 pt-2 order-5 order-md-6">
                            {{ order.created|date:"Y-m-d H:i" }}
                        </div>
                    </div>
                {% empty %}
                    <div class="row my-3">
                        <div class="col text-center">
                            {% trans "No Orders Yet" %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            {% for answer in question.answers.all %}
                <div class="card my-2">
                    <div class="card-header d-flex flex-wrap">
                        <div class="p-2">
                            # {{ forloop.counter }}
                        </div>
                        <div class="ml-auto p-2 text-muted"
                             data-toggle="tooltip" data-placement="top" title="{{ answer.created }}">
                            {{ answer.created|date:'Y.m.d' }}
                        </div>
                    </div>
                    <div class="card-body pb-0">
                        {{ answer.content|linebreaks }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% crispy form %}
    <a href="{% url 'rabop:question-list' store.code %}?page={{ request.GET.page }}"
       class="btn btn-outline-secondary btn-block btn-lg mb-4">
        <i class="fas fa-list-ul fa-fw" aria-hidden="true"></i>&nbsp;{% trans "List" %}
    </a>
{% endblock %}
