{% extends "./blog_base_sidebar.html" %}

{% load i18n %}
{% load thumbnail %}
{% load rakmai_filters %}

{% block entry %}
    <!-- Blog Entries Column -->
    <div class="col-lg-8">
        {% for post in posts %}
            <div class="card my-4">
                <div class="card-header">
                    {% if post.category.title %}
                        <i class="fas fa-folder"></i>
                        <a href="{% url 'blog:post-category' post.blog.slug post.category.slug %}">{{ post.category.title }}</a>
                        |
                    {% endif %}
                    <i class="fas fa-user"></i> <a href="#">{{ post.owner }}</a>
                    | <i class="far fa-calendar-alt"></i> {{ post.published|date:"Y-m-d H:m" }}
                    | <i class="fas fa-comments"></i> <a
                        href="{{ post.get_absolute_url }}?page={{ page_obj.number }}#comment">{{ comment_count }} {% trans "comments" %}</a>
                    | <i class="far fa-eye"></i> {{ post.view_count }} {% trans "views" %}
                    | <i class="fas fa-map-marker-alt"></i> {{ post.ip_address|mask_ip_address }}
                </div>

                {% if post.thumbnail %}
                    {% thumbnail post.thumbnail 750x300 crop="smart" as im %}
                    <img class="card-img-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% else %}
                    <img class="card-img-top" src="//placehold.it/750x300" alt="no thumbnail">
                {% endif %}

                <div class="card-body">
                    <h2 class="card-title"><a
                            href="{{ post.get_absolute_url }}?page={{ page_obj.number }}">{{ post.title }}</a></h2>
                    <p class="card-text">{{ post.excerpt|strip_html|linebreaks }}</p>
                    <a href="{{ post.get_absolute_url }}?page={{ page_obj.number }}"
                       class="btn btn-sm btn-primary">
                        {% trans "Read More" %}
                        <i class="fas fa-chevron-right fa-fw"></i>
                    </a>
                </div>

                <div class="card-footer">
                    {% trans "Tags" %}:
                    {% for tag in post.tags.all %}
                        <a class="btn btn-sm btn-info" href="{% url 'blog:post-tag' blog.slug tag.slug %}"
                           role="button">
                            #{{ tag.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <div class="card my-4">
                <div class="card-body">
                    {% trans "No Posts Yet." %}
                </div>
            </div>
        {% endfor %}

        {% include './_pagination.html' with page_obj=page_obj page_range=page_range %}
    </div>
{% endblock %}
