{% extends "./blog_base_sidebar.html" %}

{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load rakmai_filters %}
{% load blog_tags %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static "js/rakmai/csrf-cookie.js" %}"></script>
    <script src="{% static "js/blog/post-comment.js" %}"></script>
{% endblock %}

{% block entry %}
    <!-- Post Content Column -->
    <div class="col-lg-8">
        <h4 class="mt-4">{{ post.title }}</h4>
        <hr/>

        <p>
            {% if post.category.title %}
                <i class="fas fa-folder"></i>
                <a href="{% url 'blog:post-category' blog.slug post.category.slug %}">{{ post.category.title }}</a> |
            {% endif %}
            <i class="fas fa-user"></i> <a href="#">{{ post.owner }}</a>
            | <i class="far fa-calendar-alt"></i> {{ post.published|date:"Y-m-d H:m" }}
            | <i class="fas fa-comments"></i> <a href="#comments">{{ comment_count }} {% trans "comments" %}</a>
            | <i class="far fa-eye"></i> {{ post.view_count }} {% trans "views" %}
            | <i class="fas fa-map-marker-alt"></i> {{ post.ip_address|mask_ip_address }}
            {% if user.is_superuser %}
                | <i class="fas fa-edit"></i>
                <a href="{% url 'blog:post-edit' post.blog.slug post.id post.slug %}">{% trans "Edit" %}</a>
                | <i class="fas fa-trash-alt"></i>
                <a href="{% url 'blog:post-delete' post.blog.slug post.id post.slug %}">{% trans "Delete" %}</a>
            {% endif %}
        </p>
        <hr/>

        {% if post.thumbnail %}
            <img class="img-fluid rounded" src="{{ post.thumbnail.url }}" width="900" height="300">
        {% else %}
            <img class="img-fluid rounded" src="{% static 'images/shop/default/900x300.png' %}" alt="no thumbnail">
        {% endif %}
        <hr/>

        {% if blog.markup == blog.FORMAT_CHOICES.html %}
            {{ post.content|clean_html|linebreaks }}
        {% elif blog.markup == blog.FORMAT_CHOICES.markdown %}
            {{ post.content|markdownify }}
        {% elif blog.markup == blog.FORMAT_CHOICES.text %}
            {{ post.content|strip_html|linebreaks }}
        {% endif %}
        <hr/>

        <p>{% trans "Tags" %}:
            {% for tag in post.tags.all %}
                <a class="btn btn-sm btn-info" href="{% url 'blog:post-tag' blog.slug tag.slug %}" role="button">
                    #{{ tag.name }}
                </a>
            {% endfor %}
        </p>
        <hr/>

        <!-- Related posts -->
        <h4 class="mt-4">{% trans "Related Posts" %}</h4>
        <div class="row">
            {% get_similar_posts post blog.slug 3 as similar_posts %}
            {% for similar_post in similar_posts %}
                <div class="col-sm-4 my-4">
                    <div class="card h-100">
                        {% if similar_post.thumbnail %}
                            <img class="card-img-top" src="{{ similar_post.thumbnail.url }}" width="222" height="145">
                        {% else %}
                            <img class="card-img-top"
                                 src="{% static 'images/shop/default/222x145.png' %}"
                                 alt="no thumbnail">
                        {% endif %}
                        <div class="card-body">
                            <a class="card-text" href="{{ similar_post.get_absolute_url }}">{{ similar_post.title }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if blog.allow_comments and post.allow_comments %}
            <hr/>
            <!-- Comments Form -->
            <div class="card my-4" id="comment-form-div">
                <h5 class="card-header">{% trans "Leave a Comment" %}:</h5>
                <div class="card-body">
                    TODO
                </div>
            </div>

            <!-- Comments List -->
            <ul class="list-unstyled" id="comments">

            </ul>
            <ul class="list-unstyled" id="comments">
                <li class="media my-4">
                    <a name="c3"></a>
                    <img src="//www.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&amp;d=mm" class="mr-3"
                         width="50" height="50">
                    <div class="media-body">
                        <h6>
                            2018년 3월 10일 4:15 오후&nbsp;-&nbsp;
                            분류

                            &nbsp;
                            <span class="btn-sm btn-warning">관리자</span>&nbsp;&nbsp;
                            <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c3">¶</a>

                            <div class="pull-right">


                                <a class="mutedlink" href="/comments/delete/3/"><span class="glyphicon glyphicon-trash"
                                                                                      title="댓글 삭제"></span></a>


                            </div>

                        </h6>

                        <p>
                            분류 없음부

                        </p>


                        <a class="btn-sm btn-success" href="/comments/reply/3/">답글 달기</a>


                        <div class="media my-4">

                            <a name="c5"></a>
                            <img src="//www.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&amp;d=mm"
                                 class="mr-3" width="50" height="50">
                            <div class="media-body">
                                <h6>
                                    2018년 3월 10일 4:55 오후&nbsp;-&nbsp;
                                    답글

                                    &nbsp;
                                    <span class="btn-sm btn-warning">관리자</span>&nbsp;&nbsp;
                                    <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c5">¶</a>

                                    <div class="pull-right">


                                        <a class="mutedlink" href="/comments/delete/5/"><span
                                                class="glyphicon glyphicon-trash" title="댓글 삭제"></span></a>


                                    </div>

                                </h6>

                                <p>
                                    답글ㄷ
                                </p>
                            </div>
                        </div>


                        <div class="media my-4">

                            <a name="c6"></a>
                            <img src="//www.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&amp;d=mm"
                                 class="mr-3" width="50" height="50">
                            <div class="media-body">
                                <h6>
                                    2018년 3월 10일 4:55 오후&nbsp;-&nbsp;
                                    답글

                                    &nbsp;
                                    <span class="btn-sm btn-warning">관리자</span>&nbsp;&nbsp;
                                    <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c6">¶</a>

                                    <div class="pull-right">


                                        <a class="mutedlink" href="/comments/delete/6/"><span
                                                class="glyphicon glyphicon-trash" title="댓글 삭제"></span></a>


                                    </div>

                                </h6>

                                <p>
                                    답글1

                                </p>


                            </div>
                        </div>


                        <div class="media my-4">

                            <a name="c7"></a>
                            <img src="//www.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&amp;d=mm"
                                 class="mr-3" width="50" height="50">
                            <div class="media-body">
                                <h6>
                                    2018년 3월 10일 4:55 오후&nbsp;-&nbsp;
                                    답글2

                                    &nbsp;
                                    <span class="btn-sm btn-warning">관리자</span>&nbsp;&nbsp;
                                    <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c7">¶</a>

                                    <div class="pull-right">


                                        <a class="mutedlink" href="/comments/delete/7/"><span
                                                class="glyphicon glyphicon-trash" title="댓글 삭제"></span></a>


                                    </div>

                                </h6>

                                <p>
                                    답글2

                                </p>


                            </div>
                        </div>


                        <div class="media my-4">

                            <a name="c8"></a>
                            <img src="//www.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&amp;d=mm"
                                 class="mr-3" width="50" height="50">
                            <div class="media-body">
                                <h6>
                                    2018년 3월 10일 4:56 오후&nbsp;-&nbsp;
                                    답글3

                                    &nbsp;
                                    <span class="btn-sm btn-warning">관리자</span>&nbsp;&nbsp;
                                    <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c8">¶</a>

                                    <div class="pull-right">


                                        <a class="mutedlink" href="/comments/delete/8/"><span
                                                class="glyphicon glyphicon-trash" title="댓글 삭제"></span></a>


                                    </div>

                                </h6>

                                <p>
                                    답글3

                                </p>


                            </div>
                        </div>


                        <div class="media my-4">

                            <a name="c9"></a>
                            <img src="//www.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&amp;d=mm"
                                 class="mr-3" width="50" height="50">
                            <div class="media-body">
                                <h6>
                                    2018년 3월 10일 4:56 오후&nbsp;-&nbsp;
                                    답글4

                                    &nbsp;
                                    <span class="btn-sm btn-warning">관리자</span>&nbsp;&nbsp;
                                    <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c9">¶</a>

                                    <div class="pull-right">


                                        <a class="mutedlink" href="/comments/delete/9/"><span
                                                class="glyphicon glyphicon-trash" title="댓글 삭제"></span></a>


                                    </div>

                                </h6>

                                <p>
                                    답글4

                                </p>


                            </div>
                        </div>


                        <div class="media my-4">

                            <a name="c11"></a>
                            <img src="//www.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&amp;d=mm"
                                 class="mr-3" width="50" height="50">
                            <div class="media-body">
                                <h6>
                                    2018년 3월 10일 4:56 오후&nbsp;-&nbsp;
                                    답글5

                                    &nbsp;
                                    <span class="btn-sm btn-warning">관리자</span>&nbsp;&nbsp;
                                    <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c11">¶</a>

                                    <div class="pull-right">


                                        <a class="mutedlink" href="/comments/delete/11/"><span
                                                class="glyphicon glyphicon-trash" title="댓글 삭제"></span></a>


                                    </div>

                                </h6>

                                <p>
                                    답글5

                                </p>


                            </div>
                        </div>


                        <div class="media my-4">

                            <a name="c12"></a>
                            <img src="//www.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&amp;d=mm"
                                 class="mr-3" width="50" height="50">
                            <div class="media-body">
                                <h6>
                                    2018년 3월 10일 4:57 오후&nbsp;-&nbsp;
                                    애국가

                                    &nbsp;
                                    <span class="btn-sm btn-warning">관리자</span>&nbsp;&nbsp;
                                    <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c12">¶</a>

                                    <div class="pull-right">


                                        <a class="mutedlink" href="/comments/delete/12/"><span
                                                class="glyphicon glyphicon-trash" title="댓글 삭제"></span></a>


                                    </div>

                                </h6>

                                <p>
                                    동해물고 백두산이 마르고 닳도록 하느님이 보우하사 우리 나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세

                                </p>


                            </div>
                        </div>


                    </div>
                </li>


                <li class="media my-4">

                    <a name="c4"></a>
                    <img src="//www.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&amp;d=mm" class="mr-3"
                         width="50" height="50">
                    <div class="media-body">
                        <h6>
                            2018년 3월 10일 4:16 오후&nbsp;-&nbsp;
                            분류 없음

                            &nbsp;
                            <span class="btn-sm btn-warning">관리자</span>&nbsp;&nbsp;
                            <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c4">¶</a>

                            <div class="pull-right">


                                <a class="mutedlink" href="/comments/delete/4/"><span class="glyphicon glyphicon-trash"
                                                                                      title="댓글 삭제"></span></a>


                            </div>

                        </h6>

                        <p>
                            분류 없음

                        </p>


                        <a class="btn-sm btn-success" href="/comments/reply/4/">답글 달기</a>


                    </div>
                </li>


                <li class="media my-4">

                    <a name="c10"></a>
                    <img src="//www.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&amp;d=mm" class="mr-3"
                         width="50" height="50">
                    <div class="media-body">
                        <h6>
                            2018년 3월 10일 4:56 오후&nbsp;-&nbsp;
                            댓글

                            &nbsp;
                            <span class="btn-sm btn-warning">관리자</span>&nbsp;&nbsp;
                            <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c10">¶</a>

                            <div class="pull-right">


                                <a class="mutedlink" href="/comments/delete/10/"><span class="glyphicon glyphicon-trash"
                                                                                       title="댓글 삭제"></span></a>


                            </div>

                        </h6>

                        <p>
                            댓글

                        </p>


                        <a class="btn-sm btn-success" href="/comments/reply/10/">답글 달기</a>


                    </div>
                </li>


                <li class="media my-4">

                    <a name="c13"></a>
                    <img src="//www.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&amp;d=mm" class="mr-3"
                         width="50" height="50">
                    <div class="media-body">
                        <h6>
                            2018년 3월 10일 6:00 오후&nbsp;-&nbsp;
                            댓글자

                            &nbsp;
                            <span class="btn-sm btn-warning">관리자</span>&nbsp;&nbsp;
                            <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c13">¶</a>

                            <div class="pull-right">


                                <a class="mutedlink" href="/comments/delete/13/"><span class="glyphicon glyphicon-trash"
                                                                                       title="댓글 삭제"></span></a>


                            </div>

                        </h6>

                        <p>
                            댓글 내용

                        </p>


                        <a class="btn-sm btn-success" href="/comments/reply/13/">답글 달기</a>


                    </div>
                </li>


                <li class="media my-4">

                    <a name="c18"></a>
                    <img src="//www.gravatar.com/avatar/07ac84f71d8f867d4352c91d3002bcf1?s=48&amp;d=mm" class="mr-3"
                         width="50" height="50">
                    <div class="media-body">
                        <h6>
                            2018년 3월 11일 5:42 오후&nbsp;-&nbsp;
                            nasiajai

                            &nbsp;&nbsp;
                            <a class="permalink" title="댓글 링크" href="/comments/cr/23/5/#c18">¶</a>

                            <div class="pull-right">


                                <a class="mutedlink" href="/comments/delete/18/"><span class="glyphicon glyphicon-trash"
                                                                                       title="댓글 삭제"></span></a>


                            </div>

                        </h6>

                        <p>
                            nasiajai confirm

                        </p>


                        <a class="btn-sm btn-success" href="/comments/reply/18/">답글 달기</a>


                    </div>
                </li>


            </ul>
        {% else %}
            <div class="alert alert-warning my-4">
                {% trans "Comments are now allowed." %}
            </div>
        {% endif %}
    </div>
{% endblock %}
